<div
  class="p-6 shadow-lg rounded-lg"
  [class]="statusColor"
  [class.text-black]="isAlive"
>
  <h2 class="text-2xl text-center font-bold mb-2 text-inherit">
    {{ characterData.name | capitalize }}
  </h2>
  <div class="relative mb-4">
    <img
      [src]="characterData.image"
      alt="Character Image"
      class="object-contain mx-auto text-center"
      height="auto"
      width="auto"
    />
  </div>
  <div class="flex justify-between items-center text-lg">
    <dl>
      <div class="flex">
        <dt class="font-bold mr-2">Gender:</dt>
        <dd>{{ characterData.gender }}</dd>
      </div>
      <div class="flex">
        <dt class="font-bold mr-2">Status:</dt>
        <dd>{{ characterData.status }}</dd>
      </div>
      <div class="flex">
        <dt class="font-bold mr-2">Species:</dt>
        <dd>{{ characterData.species }}</dd>
      </div>
      <div class="flex">
        <dt class="font-bold mr-2">Origin:</dt>
        <dd>{{ characterData.origin.name }}</dd>
      </div>
      <div class="flex">
        <dt class="font-bold mr-2">Location:</dt>
        <dd>{{ characterData.location.name }}</dd>
      </div>
    </dl>
  </div>
</div>
