<div
  class="p-4 shadow-md rounded-md"
  [class]="statusColor"
  [class.text-black]="isAlive"
>
  <h2 class="text-xl font-bold mb-2 text-inherit">
    {{ cardData.name | capitalize }}
  </h2>
  <div class="relative h-56 mb-2">
    <img
      [ngSrc]="cardData.image"
      alt="Character Image"
      class="object-cover"
      fill
    />
  </div>
  <div class="flex justify-between items-center">
    <dl>
      <div class="flex">
        <dt class="font-bold mr-2">Gender:</dt>
        <dd>{{ cardData.gender }}</dd>
      </div>
      <div class="flex">
        <dt class="font-bold mr-2">Status:</dt>
        <dd>{{ cardData.status }}</dd>
      </div>
    </dl>
    <button
      (click)="goToDetails()"
      class="bg-cyan-800 hover:bg-cyan-500 transition-all duration-[250] py-2 px-4 rounded-md text-white"
    >
      See more
    </button>
  </div>
</div>
