:host {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin-left: auto;
  margin-right: auto;
}

:host button {
  transition: all 0.25s ease-in-out;
  padding: 1rem 2rem;
  background-color: #3c3070;
  border-radius: 0.25rem;

  &:hover:not(:disabled) {
    background-color: #524b72;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
